@import '../../index.scss';

.collapse {
    font-family: $main-family;

    .headband {
        background: $main-color;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        padding: 10px 15px;
        transition: all 0.5s ease-out;

        @media (max-width: 767px) {
            font-size: 14px;
        }

        &.open {
            border-radius: 5px;
        }

        .arrow {
            transition: all 0.2s ease-out;
            cursor: pointer;

            @media (max-width: 767px) {
                width: 16px;
            }

            &.down {
                transform: rotate(-180deg);
            }
        }
    }

    .informations {
        max-height: 0;
        overflow: hidden;
        background: #F6F6F6;
        color: #000;
        display: block;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        transition: all 0.5s ease-out;
        padding: 0 15px;

        @media (max-width: 767px) {
            font-size: 12px;
        }

        &.hidden {
            height: 0;
            transition: all 0.1s ease-out;
            animation: CollapseInfosExit 0.5s ease 0s 1 normal forwards;
        }

        &.visible {
            animation: CollapseInfosEntrance 0.5s ease 0s 1 normal forwards;
        }

        ul, p {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
    }
}

@keyframes CollapseInfosEntrance {
	0% {
        max-height: 0;
	}

	100% {
        max-height: 9999px;
        padding: 10px 15px;
	}
}

@keyframes CollapseInfosExit {
	0% {
        max-height: 9999px;
        padding: 10px 15px;
	}

	100% {
        max-height: 0;
	}

}