@import '../index.scss';

.error_page {
    max-width: 1240px;
    margin: 5rem auto;
    color: $main-color;
    font-family: $main-family;
    text-align: center;

    h1 {
        font-size: 288px;
        font-weight: 700;
        margin: 0;

        @media (max-width: 767px) {
            font-size: 96px;
        }
    }

    p {
        font-size: 36px;
        font-weight: 500;
        margin: 5rem auto;

        @media (max-width: 767px) {
            font-size: 18px;
        }
    }

    a {
        font-size: 18px;
        color: #000;
        
        @media (max-width: 767px) {
            font-size: 14px;
        }
    }
}