@import '../../index.scss';

.slideshow {
    max-width: 1240px;
    height: 415px;
    margin: 3rem auto;
    border-radius: 25px;
    position: relative;

    @media (max-width: 767px) {
        height: 255px;
    }

    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        @media (max-width: 767px) {
            width: 24px;
        }

        &.left {
            left: 15px;
        }

        &.right {
            right: 15px;
        }
    }

    .numerotation {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
        color: #fff;
        font-size: 18px;
        font-family: $main-family;
        font-weight: 500;
        margin: 0;
    }
}